<div class="message-item message-item-extra<% if message.user.muted_in_room?(room) %> message-item-muted<% end %>" data-message-id="<%= message.id %>" data-user-id="<%= message.user.id %>">
  <span class="dropdown">
    <strong class="message-user dropdown-toggle" data-toggle="dropdown">
      <%= message.user.nickname_in_room(room) %>
    </strong>
    <ul class="dropdown-menu">
      <li>
        <% unless message.user.muted_in_room?(room) %>
          <%= link_to mute_user_room_path(room, user_id: message.user), method: :post do %>
            Mute <strong><%= message.user.nickname_in_room(room) %></strong> in this thread
          <% end %>
        <% end %>

        <% if message.user.muted_in_room?(room) %>
          <%= link_to unmute_user_room_path(room, user_id: message.user), method: :post do %>
            Unmute <strong><%= message.user.nickname_in_room(room) %></strong> in this thread
          <% end %>
        <% end %>
      </li>
    </ul>
  </span>
  <div class="message-content"><%= sanitize(simple_format(message.content), tags: ['br']) %></div>
</div>
