<section class="instance">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if can? :update, @instance %>
          <% unless @instance.closed %>
            <%= link_to 'Close topic', close_instance_path(@instance), class: 'btn btn-success' %>
          <% end %>
          <% if @instance.closed %>
            <%= link_to 'Open topic', open_instance_path(@instance), class: 'btn btn-success' %>
          <% end %>
          <% unless @instance.private %>
            <%= link_to 'Make topic private', private_instance_path(@instance), class: 'btn btn-success' %>
          <% end %>
          <% if @instance.private %>
            <%= link_to 'Make topic not private', unprivate_instance_path(@instance), class: 'btn btn-success' %>
          <% end %>
          <%= link_to 'Delete topic', instance_path(@instance), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

          <% if @instance.private %>
            <div class="instance-private-url">Private access url: <%= link_to instance_url(@instance, access_token: @instance.access_token), instance_url(@instance, access_token: @instance.access_token) %></div>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= render 'rooms/rooms', rooms: @instance.rooms_sorted_by_last_message %>
      </div>
      <div class="col-sm-6">
        <div class="text-center section-header">
          <%= image_tag("juryx-activethread.png") %>
        </div>

         Select a thread on the left to view the conversation.
      </div>
    </div>
  </div>
</section>
