<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag asset_path('logo.svg'), alt: 'logo' %>
        <span class="brand-text">Threads</span>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      <% unless current_or_guest_user.username.include?('guest') %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi <%= current_or_guest_user.username %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Profile', edit_user_password_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path(current_or_guest_user) %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <a href="#">
            Hi <%= current_or_guest_user.username %>
          </a>
        </li>
        <li><%= link_to 'Login', user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
