<div class="message-item message-item-extra" data-message-id="<%= message.id %>">
  <span class="dropdown">
    <strong class="message-user dropdown-toggle" data-toggle="dropdown">
      <%= message.user.nickname_in_room(room) %>:
    </strong>
    <ul class="dropdown-menu">
      <li>
        <%= link_to mute_user_room_path(room, user_id: message.user), method: :post do %>
          Mute <strong><%= message.user.nickname_in_room(room) %></strong> in this thread
        <% end %>
      </li>
    </ul>
  </span>
  <span><%= message.content %></span>
</div>
