<%= link_to room_path(room, access_token: params[:access_token].present? ? params[:access_token]:nil), class: "#{ 'room-item-with-settings' if can? :update, room } room-item list-group-item #{ 'active' if room.id == (params[:id].to_i) && params[:controller] == 'rooms' }" do %>
  <div class="media" data-room-id="<%= room.id %>">
    <div class="media-left"></div>
    <div class="media-body">
      <h4 class="media-heading"><%= room.title %></h4>
      <span class="room-item-replies"><%= room.messages.count %> <%= 'reply'.pluralize(room.messages.count) %></span>
      <% if room_unread_messages(room) > 0 %>
        | <span class="badge"><%= room_unread_messages(room) %></span> unread
      <% end %>
      <%= last_update_info(room) %>
      <% if room.locked %>
        | Locked <%= fa_icon 'lock' %>
      <% end %>
    </div>
  </div>
<% end %>
<% if can? :update, room %>
  <div class="dropdown room-item-settings">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <%= fa_icon 'bars' %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <% if can? :destroy, room %>
        <li>
          <%= link_to 'Delete', room_path(room), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
      <li>
        <% unless room.locked %>
          <%= link_to 'Lock now', lock_room_path(room), method: :put %>
        <% end %>
        <% if room.locked %>
          <%= link_to 'Unlock now', unlock_room_path(room), method: :put %>
        <% end %>
      </li>
      <% unless room.locked %>
        <li><hr></li>
        <li>
          <% if room.planned_lock %>
            Will lock on <%= room.planned_lock.to_formatted_s(:long_ordinal) %>
            <%= form_for room, url: cancel_delayed_lock_room_path(room), method: :put do |f| %>
              <%= f.submit 'Cancel', class: 'btn btn-success' %>
            <% end %>
          <% else %>
            <%= form_for room, url: set_delayed_lock_room_path(room), method: :post do |f| %>
              Lock in:
              <input type="text" name="days" placeholder="0"> days
              <input type="text" name="hours" placeholder="0"> hours
              <input type="text" name="minutes" placeholder="0"> minutes
              <br>
              <%= f.submit 'Set delayed lock', class: 'btn btn-success' %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
