<section class="room-chat">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 room-chat-rooms">
        <%= render 'rooms/rooms', rooms: @rooms %>
      </div>
      <div class="col-sm-6 room-chat-messages">
        <div class="text-center section-header room-chat-header">
          <a class="room-chat-expander" title="Click to expand the message area">
            <%= fa_icon "expand" %>
          </a>
          <h2 class="funny-red-font">Active thread</h2>
          <h5 class="funny-red-font">Only the replies to the one thread you selected</h5>
        </div>

        <div class="message-area">
          <% @messages.each do |message| %>
            <%= render 'rooms/message', message: message, room: @room %>
          <% end %>
        </div>

        <div class="message-form">
          <%= form_for @message, url: room_messages_path(@room), remote: true, authencity_token: true do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control', placeholder: 'Message...', disabled: @room.locked ? true : false %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= hidden_field_tag :room_id, @room.id, id: 'room-id' %>
  <%= hidden_field_tag :access_token, params[:access_token], id: 'access-token' %>
  <%= hidden_field_tag :first_message_id, @messages&.first&.id, id: 'first-message-id' %>
</section>
