<section class="room-chat">
<div class="container">

<div class="room-info">
  <h2><%= @room.title %></h2>
</div>

<div class="message-area">
  <% @messages.each do |message| %>
    <%= render 'rooms/message', message: message %>
  <% end %>
</div>

<div class="message-form">
  <%= form_for @message, url: messages_path, remote: true, authencity_token: true do |f| %>
    <%= f.hidden_field :room_id %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', placeholder: 'Message...' %>
    </div>
  <% end %>
</div>

</div>
<%= hidden_field_tag :messages_size, @messages.size, id: 'messages-size' %>
<%= hidden_field_tag :room_id, @room.id, id: 'room-id' %>
</section>
