<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
